<!DOCTYPE html>
<html>
<head>
	
<title>ONLINE FORMER'S STORE</title>
<link rel="icon" type="image/x-icon" href="https://i.postimg.cc/Gt0vqtSH/OFSLOGO.jpg">
<link rel="stylesheet" type="text/css" href="styless.css">

<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>

</head>

<body>
	<div class="HomeHeading">
		<img src="https://i.postimg.cc/Gt0vqtSH/OFSLOGO.jpg">
		<h1><a href="index.html">ONLINE FORMER'S STORE</a></h1>
	</div>

	<div class="HomeHeadingDescrp">
		<p>Agriculture is our wisest pursuit, because it will in the end contribute most to real wealth, good morals, and happiness.</p>
	</div>

	<ul class="index.html">
		<li><a href="index.html">HOME</a></li>
		<li><a href="aboutus.html">ABOUTUS</a></li>
        <li><a href="ourservices.html">OUR SERVICES</a></li>


        <div class="login">
			<div class="search"><input type="search" placeholder="Search"></div>	
		<li><a href="contactus.html">CONTACT US</a></li>

		<li><a href="login.html">LOGIN</a></li>
		</div>
	</ul>


</body>

</html>

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CONTACT US</title>
	<link rel="stylesheet" type="text/css" href="styless.css">
</head>
<body>
	<div class="h4heading">
	<h4><center>GET IN TOUCH</center></h4>
</div><center>
	<form><fieldset>
		<legend>CONTACT US:</legend>
		<label for="First Name">First Name</label><br>
		<input type="text"name="Anjuka" id="Anjuka"><br>
		<labrl for="Last Name">Last Name</labrl><br>
		<input type="text" name="Last Name" id="Last Name">
		<br>

		<label for="email">Email</label><br>
		<input type="email" name="email" id="email">
<br>
<label for="Mobile Number">Mobile Number</label>
<br>
<input type="tel" name="Mobile Number" id="Mobile Number" value="">
<br>
<label for="Message">Message</label><br>
<textarea></textarea><br>
	</fieldset>
	</form></center>

	<div class="conus">
	<div class="emailus" style="margin: 45px;">
		<label for="First Name">General Inquiries</label><br>
		<a href="contact@ofs.com">contact@ofs.com</a><br><br>
		<labrl for="Last Name">Carees</labrl><br>
		<a href="hr@ofa.com">hr@ofa.com</a><br><br>
		<labrl for="Last Name">Partnerships or business inquiries</labrl><br>
		<a href="info@ofs.com">info@ofs.com</a><br><br>

    </div>

	<div class="Address" style="margin: 45px;">
		<label for="Address">Address</label><br>
		<input type=" text" name="Address" value="4/104,Nedungur,Trichy(DT),TamilNadu 621 105"><br>

	</div>

	<div class="callus" style="margin: 45px;">
		<label for="Mobile Number">call us</label>
		<a href="">6379944693</a><br><br>


	</div>
</div>

</body>
</html>