@{
    ViewData["Title"] = "Home Page";
}
@* 
<div class="text-center"   >

    <h1 class="display-4" style="font-size:40px; font-style:Arial"> ONLINE FORMER'S STORE</h1>
    <p class="text-success">Farmkart is all about people</p>
</div>
 *@
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="https://i.postimg.cc/Gt0vqtSH/OFSLOGO.jpg">
    <title>ONLINE FORMER'S STORE</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    /<!-- start header -->
<header class="header">

    <!--   start logo -->
    <a href="#" class="logo">
      <i class="fas fa-tooth"></i>
      <img class=" iconimg" src ="https://i.postimg.cc/Gt0vqtSH/OFSLOGO.jpg" width="45px" height="45px">
    </a>
  
    <!--   start navbar -->
    <nav class="navbar">
      <a href="home.html">home</a>
      <a href="#pricing">shop</a>
      <a href="#about">about</a>
      <a href="#services">services</a>
      <a href="#team">contact us</a>
      <a href="#blog">login</a>
    </nav>
    <!--   end navbar -->
    <select class =" dropdown" name=' '>
    <option></option>
    <option >change password</option>
    <option >sign out</option>
  
    </select>
    <div id="menu-btn" class="fas fa-bars"></div>
  
  </header>
  <!-- end header -->
  
  <!-- start home -->
  <section id="home" class="home">
  
    <div class="content">
  
      <h3>ONLINE FORMER'S STORE</h3>
      <p>Agriculture is our wisest pursuit, because it will in the end contribute most to real wealth, good morals, and happiness.</p>
  
    </div>  
  
  </section>
  <!-- end home -->


<section>
    <div class="home-split-image">
        <div class="img1">
            <img src="https://i.postimg.cc/wBV5Hbwn/images-1.jpg" alt="">
            
        </div>
        <div class="img2">
            <img src="https://i.postimg.cc/s1F0kN2b/home1.jpg" alt="">
            <img src="https://i.postimg.cc/B66yHFy7/home2.jpg" alt="">
        </div>
    </div>
</section>


<section class="kart-content">
  

<div class="card">
  <img src="https://i.postimg.cc/hjskn9BJ/1694516515617-Cotton.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Cotton</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
<div class="card">
  <img src="/w3images/jeans3.jpg" alt="Denim Jeans" style="width:100%">
  <h1>Tailored Jeans</h1>
  <p class="price">$19.99</p>
  <p>Some text about the jeans. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
  <p><button>Add to Cart</button></p>
</div>
</section>




  
  <!-- about -->
  
  <section id="about" class="about">
  
    <h1 class="heading"> about us </h1>
  
    <!--   content -->
    <div class="row">
  
      <!--     image -->
      <div class="image">
        <img src="https://i.postimg.cc/MTvW2WZ4/slide-3.jpg" alt="medical equipment">
      </div>
  
      <!--     info -->
      <div class="content">
        <h3>our clinic is made for you to be smiling all the time</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta natus alias eaque sapiente tempore sint expedita perferendi.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta natus alias eaque sapiente tempore sint expedita perferendi.</p>
        <a href="#" class="btn">read more</a>
      </div>
  
    </div>
  
  </section>
  
  <!-- end about -->
  
  <!-- services -->
  
  <section id="services" class="services">
  
    <h1 class="heading"> our services </h1>
  
    <div class="box-container">
      <!--     start field -->
      <div class="box">
        <img src="https://us.123rf.com/450wm/paladjai/paladjai2003/paladjai200300008/141737198-dental-cartoon-of-a-tooth-doctor-and-calendar-illustration-cartoon-character-vector-design-on-blue-b.jpg?ver=6" alt="teeth appointment illustration">
        <h3>online schedule</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque quasi.</p>
      </div>
      <!--     end field -->
  
      <!--     start field -->
      <div class="box">
        <img src="https://drsmilez.com/wp-content/uploads/2021/12/cartoon-dental-care-concept-illustration_23-2149022909.jpg" alt="dental care">
        <h3>cosmetic feeling</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque quasi.</p>
      </div>
      <!--     end field -->
  
      <!--     start field -->
      <div class="box">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRfOoFKt4mVRUvZlYOF1Lp3hbFLeKbSEryobn54WC-Rtd4s1DTkDeaLvr6C0YTz4xltKU&usqp=CAU" alt="oral hygiene">
        <h3>oral hygiene experts</h3>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque quasi.</p>
      </div>
      <!--     end field -->
  
    </div>
  
  </section>
  
  <!-- end services -->
  
  
  
  <!-- pricing plan -->
  <section id="pricing" class="pricing">
  
    <h1 class="heading">pricing plan</h1>
  
    <div class="box-container">
  
      <!--     start card -->
      <div class="box">
  
        <h3 class="title">basic</h3>
  
        <div class="price">
          <span class="currency">$</span>
          <span class="amount">18</span>
          <span class="duration"> /year</span>
        </div>
  
        <ul>
          <li><i class="fas fa-check"></i> alignment specialist</li>
          <li><i class="fas fa-check"></i> cavity inspection</li>
          <li><i class="fas fa-check"></i> cosmetic dentistry</li>
          <li><i class="fas fa-check"></i> oral hygiene experts</li>
        </ul>
  
        <a href="#" class="btn">read more</a>
      </div>
      <!--     end card -->
  
      <!--     start card -->
      <div class="box active">
  
        <h3 class="title">standard</h3>
  
        <div class="price">
          <span class="currency">$</span>
          <span class="amount">30</span>
          <span class="duration"> /year</span>
        </div>
  
        <ul>
          <li><i class="fas fa-check"></i> alignment specialist</li>
          <li><i class="fas fa-check"></i> cavity inspection</li>
          <li><i class="fas fa-check"></i> cosmetic dentistry</li>
          <li><i class="fas fa-check"></i> oral hygiene experts</li>
        </ul>
  
        <a href="#" class="btn">read more</a>
      </div>
      <!--     end card -->
  
      <!--     start card -->
      <div class="box">
  
        <h3 class="title">premium</h3>
  
        <div class="price">
          <span class="currency">$</span>
          <span class="amount">50</span>
          <span class="duration"> /year</span>
        </div>
  
        <ul>
          <li><i class="fas fa-check"></i> alignment specialist</li>
          <li><i class="fas fa-check"></i> cavity inspection</li>
          <li><i class="fas fa-check"></i> cosmetic dentistry</li>
          <li><i class="fas fa-check"></i> oral hygiene experts</li>
        </ul>
  
        <a href="#" class="btn">read more</a>
      </div>
      <!--     end card -->
  
    </div>
  
  </section>
  
  <!-- end pricing plan -->
  
  <!-- blog -->
  
  <section id="blog" class="blog">
  
    <h1 class="heading">our blogs</h1>
  
    <div class="box-container">
  
      <!--     start post  -->
      <div class="box">
  
        <!--       image -->
        <div class="image">
          <img src="https://images.pexels.com/photos/3845625/pexels-photo-3845625.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <!--         blog content -->
        <div class="content">
          <a href="#" class="link">Diease</a>
  
          <div class="icons">
  
            <a href="#"> <i class="fas fa-calendar"> </i>01<sup>st</sup> October, 2022</a>
  
            <a href="#"><i class="fas fa-user"></i>by admin</a>
  
          </div>
          <h3>The most common problems?</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores ratione eum, eius, quidem beatae excepturi, odio eligendi ...</p>
          <a href="" class="btn">read more</a>
        </div>
        <!--         end content -->
  
      </div>
      <!--     end post -->
      <!--     start post  -->
      <div class="box">
  
        <!--       image -->
        <div class="image">
          <img src="https://images.pexels.com/photos/3845625/pexels-photo-3845625.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <!--         blog content -->
        <div class="content">
          <a href="#" class="link">Diease</a>
  
          <div class="icons">
  
            <a href="#"> <i class="fas fa-calendar"> </i>01<sup>st</sup> October, 2022</a>
  
            <a href="#"><i class="fas fa-user"></i>by admin</a>
  
          </div>
          <h3>The most common problems?</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores ratione eum, eius, quidem beatae excepturi, odio eligendi ...</p>
          <a href="" class="btn">read more</a>
        </div>
        <!--         end content -->
  
      </div>
      <!--     end post -->
      <!--     start post  -->
      <div class="box">
  
        <!--       image -->
        <div class="image">
          <img src="https://images.pexels.com/photos/3845625/pexels-photo-3845625.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
        </div>
        <!--         blog content -->
        <div class="content">
          <a href="#" class="link">Diease</a>
  
          <div class="icons">
  
            <a href="#"> <i class="fas fa-calendar"> </i>01<sup>st</sup> October, 2022</a>
  
            <a href="#"><i class="fas fa-user"></i>by admin</a>
  
          </div>
          <h3>The most common problems?</h3>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores ratione eum, eius, quidem beatae excepturi, odio eligendi ...</p>
          <a href="" class="btn">read more</a>
        </div>
        <!--         end content -->
  
      </div>
      <!--     end post -->
    </div>
  
  </section>
  
  <!-- end blog -->
  
  <!-- contact -->
  
  <section id="contact" class="contact">
    
    <h1 class="heading">make appointment</h1>
    
    <form action="">
      
      <span>your name:</span>
      <div class="input-box">
        <input type="text" placeholder="first name">
        <input type="text" placeholder="last name">
      </div>
      
      <span>your email:</span>
      <input type="email" class="box" placeholder="enter your email" >
      
       <span>your number:</span>
       <input type="number" class="box" placeholder="enter your number" >
      
       <span>appointment date:</span>
       <input type="datetime-local" class="box">
      
      <input type="submit" class="btn" value="order now">
      
    </form>
  </section>
  
  <!-- contact ends -->
  
  <!-- footer -->
  
  <section class="footer">
    
    <div class="box-container">
      
  <!--     start column -->
      <div class="box">
        
        <h3>address</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ratione.</p>
        <div class="share">
          <a href="#" class="fab fa-facebook-f"><i class="fa-brands fa-square-facebook"></i></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="#" class="fab fa-linkedin"></a>
          <a href="#" class="fab fa-instagram"></a>
        </div>
        
      </div>
  <!--     end column -->
      
  <!--     start column -->
      <div class="box">
        <h3>email</h3>
        <a href="#" class="link">marvyayman05@gmail.com</a>
      </div>
      
  <!--     end column -->
      
  <!--     start column -->
      <div class="box">
        <h3>opening hours</h3>
        <p>monday-friday : 08:00 - 23:00<br>
          saturday : 10:00 - 15:00
        </p>
      </div>
  <!--     end column -->   
      
    </div>
    
    <div class="credit">
        made with <i class="fas fa-heart"></i> by <span>marvy ayman</span> | all rights reserved &copy;2022
      </div>
    
  </section>
  
  <!-- end footer -->
  <script src="javascript/script.js"></script>
</body>
</html>


