 
@{

    ViewData["Title"] = " Login Page";
}


 <form action="VerifyLogin" method="Post">
<center>
<div class="shadow p-3 mb-5 bg-body-tertiary rounded">

<div class="w-25 p-3">



  <div class="mb-3">
    <label for="username" class="form-label">Email id:</label>
    <input type="text" Name="username" class="form-control" id="v" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password:</label>
    <input type="text" Name="password" class="form-control" id="exampleInputPassword1">
  </div>

  <div class="col-auto">
    <span id="passwordHelpInline" class="form-text">
      Must be 8-20 characters long.
    </span>
    <br>
  </div>
</div>

  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </div>

  </div>
</center>
</form>  


