@{
    Layout = "_LayoutOne";
}

    
    <div class="about product d-flex">
    <div class="card">
        <center><img src="~/images/images1.jpg" alt="Denim Jeans" style="width:100px; margin-top:15px"></center>
        <p class="ms-2 me-2">Tailored Jeans</p>
        <p class="price">$19.99</p>
        <p class="ms-2 me-2" style="font-size:16px;">Some text about the jeans..</p>
        <p><button class="btn text-center" style="width:135px; height:45px;">Add to Cart</button></p>
    </div><br>
    <div class="card">
        <center><img src="~/images/images2.jpg" alt="Denim Jeans" style="width:100px; margin-top:15px"></center>
        <p class="ms-2 me-2">Tailored Jeans</p>
        <p class="price">$19.99</p>
        <p class="ms-2 me-2" style="font-size:16px;">Some text about the jeans..</p>
        <p><button class="btn text-center" style="width:135px; height:45px;">Add to Cart</button></p>
    </div><br>
    <div class="card">
        <center><img src="~/images/images3.jpg" alt="Denim Jeans" style="width:100px; margin-top:15px"></center>
        <p class="ms-2 me-2">Tailored Jeans</p>
        <p class="price">$19.99</p>
        <p class="ms-2 me-2" style="font-size:16px;">Some text about the jeans..</p>
        <p><button class="btn text-center" style="width:135px; height:45px;">Add to Cart</button></p>
    </div>
    <div class="card">
        <center><img src="~/images/images3.jpg" alt="Denim Jeans" style="width:100px; margin-top:15px"></center>
        <p class="ms-2 me-2">Tailored Jeans</p>
        <p class="price">$19.99</p>
        <p class="ms-2 me-2" style="font-size:16px;">Some text about the jeans..</p>
        <p><button class="btn text-center" style="width:135px; height:45px;">Add to Cart</button></p>
    </div>
    
</div>



    <div class="about product d-flex">
    <div class="card">
        <center><img src="~/images/images1.jpg" alt="Denim Jeans" style="width:100px; margin-top:15px"></center>
        <p class="ms-2 me-2">Tailored Jeans</p>
        <p class="price">$19.99</p>
        <p class="ms-2 me-2" style="font-size:16px;">Some text about the jeans..</p>
        <p><button class="btn text-center" style="width:135px; height:45px;">Add to Cart</button></p>
    </div><br>
    <div class="card">
        <center><img src="~/images/images2.jpg" alt="Denim Jeans" style="width:100px; margin-top:15px"></center>
        <p class="ms-2 me-2">Tailored Jeans</p>
        <p class="price">$19.99</p>
        <p class="ms-2 me-2" style="font-size:16px;">Some text about the jeans..</p>
        <p><button class="btn text-center" style="width:135px; height:45px;">Add to Cart</button></p>
    </div><br>
    <div class="card">
        <center><img src="~/images/images3.jpg" alt="Denim Jeans" style="width:100px; margin-top:15px"></center>
        <p class="ms-2 me-2">Tailored Jeans</p>
        <p class="price">$19.99</p>
        <p class="ms-2 me-2" style="font-size:16px;">Some text about the jeans..</p>
        <p><button class="btn text-center" style="width:135px; height:45px;">Add to Cart</button></p>
    </div>
    <div class="card">
        <center><img src="~/images/images3.jpg" alt="Denim Jeans" style="width:100px; margin-top:15px"></center>
        <p class="ms-2 me-2">Tailored Jeans</p>
        <p class="price">$19.99</p>
        <p class="ms-2 me-2" style="font-size:16px;">Some text about the jeans..</p>
        <p><button class="btn text-center" style="width:135px; height:45px;">Add to Cart</button></p>
    </div>
    
</div>